<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
	id="eXCFrame" version="3.1">
  <listener>
    <listener-class>com.cleopatra.XBInitializer</listener-class>
  </listener>
  <listener>
    <listener-class>
            org.springframework.security.web.session.HttpSessionEventPublisher
        </listener-class>
  </listener>
  <listener>
    <listener-class>
	        org.springframework.web.context.request.RequestContextListener
	    </listener-class>
  </listener>
  <filter>
	    <filter-name>deviceResolverRequestFilter</filter-name>
	    <filter-class>org.springframework.mobile.device.DeviceResolverRequestFilter</filter-class>
	  </filter>
   <filter-mapping>
	    <filter-name>deviceResolverRequestFilter</filter-name>
	    <url-pattern>/*</url-pattern>
   </filter-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <!-- 
  <context-param>
    	<param-name>spring.profiles.active</param-name>
    	<param-value>local</param-value>
	</context-param>
 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
	    	classpath*:system/spring/context-*.xml
	    </param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/spring/dispatcher-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  
  <servlet>
        <servlet-name>websocket</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
              <param-value>/WEB-INF/config/spring/websocket-config.xml</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>websocket</servlet-name>
        <url-pattern>/my-websocket</url-pattern>
    </servlet-mapping>
  
  <!-- 실 운영 환경에서는 사용X -->
  <servlet>
    <servlet-name>clxviewer</servlet-name>
    <servlet-class>com.cleopatra.servlet.ViewServlet</servlet-class>
    <init-param>
      <param-name>urlsuffix</param-name>
      <param-value>.clx</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>clxviewer</servlet-name>
    <url-pattern>*.clx</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>/export/*</url-pattern>
<!--     <url-pattern>*.csv</url-pattern> -->
<!--     <url-pattern>*.xls</url-pattern> -->
<!--     <url-pattern>*.xlsx</url-pattern> -->
<!--     <url-pattern>*.pdf</url-pattern> -->
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>
  <error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/Error/errorThrowable.do</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/Error/errorException.do</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/Error/error400.do</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/Error/error403.do</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/Error/error404.do</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/Error/error405.do</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/Error/error500.do</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/Error/error503.do</location>
	</error-page>
  <session-config>
    <session-timeout>180</session-timeout>
  </session-config>
  
</web-app>